<template>
  <div class="home">
    <div>
      <input type="date" @change="getData(dateStartCalendar)" v-model="dateStartCalendar">
      <input type="date" @change="getData(dateFinishCalendar)" v-model="dateFinishCalendar">
     <!--  <button @click="changeCalendar()">Cambiar</button> -->
    </div>
    <div class="calendario-format">
      <FullCalendar 
      ref="fullCalendar"
      defaultView="dayGridMonth"
      :header="{
        left: 'title',
        center: '',
        right: ''
      }"
      @dateClick="handleDateClick"
      :plugins="calendarPlugins"
      :weekends="calendarWeekends"
      :events="calendarEvents"
      :locale="locale"
      :validRange="rangeDates"
      :visibleRange="rangeDates"
      :weekNumbers ="calendarWeekends"
      
    />
    </div>
    <div>
      <div v-if="editarEvento">
        Agregar al calendario: <input type="text" v-model="cosaAgregar">
        <div>
          <button>GUARDAR</button>
        </div>
      </div>
    </div>
    
  </div>
</template>

<script>
import moment from 'moment';
import esLocale from "@fullcalendar/core/locales/es";
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'

export default {
  name: 'home',
  components: {
     FullCalendar
  },
  data(){
    return {
      calendarPlugins: [
        // plugins must be defined in the JS
        dayGridPlugin,
        timeGridPlugin,
        interactionPlugin
      ],
      dateStartCalendar:'',
      dateFinishCalendar:'',
      calendarWeekends: true,
      calendarEvents:[],
      locale:esLocale,
      calendarWeekends: true,
      editarEvento:false,
      cosaAgregar:''
    }
  },
  methods: {
    getData(dato){
      this.editarEvento = !this.editarEvento;
      console.log(dato)
    },
    changeCalendar(){
      let dateNow = moment().format('YYYY-MM-DD');
      console.log(dateNow);
      this.dateStartCalendar = dateNow;
      let dateFin = moment().add(7, 'days').format('YYYY-MM-DD');
      this.dateFinishCalendar = dateFin 
    },
    handleDateClick(arg){
      console.log(arg);
      this.editarEvento = !this.editarEvento;
    }
  },
  computed:{
    rangeDates(){
      let obj = {
        start: this.dateStartCalendar,
        end: this.dateFinishCalendar
      };
      return obj
    }
  },
  beforeMount(){
    this.changeCalendar()
  }
}
</script>
<style lang="scss" scoped>
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.calendario-format {
  width:70%;
  height: 60%;
  margin:auto;
}
</style>

